/* Everything below this line is from the OLD theme!

.site-header {
  height: 210px !important;
  display: block !important;
  color: black;
}

.site-header div {
  display: block;
  height: 210px;
}

.site-header h2 {
  font-size: 25px;
  position: relative;
  top: 150px;
}

.transparent-layer {
  background-color: rgba(34, 34, 34, 0);
}

div.original {
  background-color: rgba(255, 255, 128, .25);
  padding: 1em 2em !important;
}

a {
  color: #e32a14cc;
}

.post h2 {
  margin-top: 1.5em;
}

code {
  background-color: rgb(34, 34, 34, 0.1);
  padding: 0 0.1em;
}

.author {
  width: 20%;
  margin: 0;
}

.content {
  width: 65%;
}

.profile-image {
  max-width: 150px;
}

.container {
  padding: 10px;
}

.post {
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.post-info {
  margin-bottom: 20px;
}

h1 {
  margin: 0.67em 0 0.25em 0;
}


.content {
  width: 70%;
}

.sidebar {
  width: auto;
  margin: 0 10px;
  text-align: center;
  display: block;
  float: left;
}

.main-menu {
  border-bottom: 1px solid whitesmoke;
  padding: 10px 0;
}

.author-block {
  width: 100%;
  border-bottom: 1px solid whitesmoke;
  padding: 10px 0;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-align: center;
  float: left;
  margin-bottom: 15px;
}

.author-block ul.social {
  list-style: none;
  display: inline;
  padding: 0;
}

.author-block ul.social li {
  display: inline;
}

.author-block ul.social li a {
  padding: 5px;
  font-size: 20px;
}

.search-form {
  width: auto;
  border-bottom: 1px solid whitesmoke;
  padding: 20px 0;
  margin: 10px 0;
}

div.search-field-title {
  margin-top: 10px;
}

.site-rev {
  font-size: 0.75em;
}

*/
