{{ define "main" }}
  <article>
    <h1>{{ .Title }}</h1>
    <ul class="posts-list">
      {{ range $index, $element := .Paginator.Pages.ByLastmod.Reverse }}

        <!--
        <li class="posts-list-item">
          <a class="posts-list-item-title" href="{{ .Permalink }}">{{ .Title }}</a>
          <span class="posts-list-item-description">
            {{ partial "icon.html" (dict "ctx" $ "name" "clock") }} {{ .ReadingTime }} min read -
            {{ .PublishDate.Format "Jan 2, 2006" }}
          </span>
        </li>
        -->

        <br/>

        {{ if eq .Type "onetabs" }}
          <article class="onetab">
            <!-- <p> -->
              → <a target="_blank" rel="remote-article" href="{{ .Params.externalurl }}">{{ printf "OneTab: %s" .Title }}</a> <!-- <a href="{{ .Permalink }}"></a> -->
              <!-- <span class="postmeta"> -->
              <span class="posts-list-item-description">
                &nbsp;&nbsp;&nbsp;&nbsp;Updated: {{ .Lastmod.Format "Monday, 02 Jan 2006 15:04:05" }}
                {{ if isSet .Params "hostname" }}
                  from {{ .Params.hostname }}
                {{ end }}
              </span>
            <!-- </p> -->
          </article>
          <!-- <a class="onetabs-list-item-title" href="{{ .Permalink }}">{{ printf "OneTab: %s" .Title }}</a> -->

        {{ else }}
          <a target="_blank" class="posts-list-item-title" href="{{ .Permalink }}">{{ .Title }}</a>
          <span class="posts-list-item-description">
            {{ $pub := .PublishDate.AddDate 0 0 1 }}
            {{ $mod := .Lastmod }}
            {{ $superseded := .Params.superseded_by | urlize }}
            {{ partial "icon.html" (dict "ctx" $ "name" "clock") }}&nbsp;{{ .ReadingTime }} min read &nbsp;
            {{ partial "icon.html" (dict "ctx" $ "name" "calendar") }} {{ .PublishDate.Format "Jan 2, 2006" }}
            {{ if $mod.After $pub }}
              &nbsp;&nbsp;|&nbsp;&nbsp;Updated: {{ .Lastmod.Format "Jan 2, 2006 - 15:04" }}
            {{ end }}
            {{ if $superseded }}
              &nbsp;&nbsp;<strong>{{ partial "icon.html" (dict "ctx" $ "name" "at-sign") }}Superseded by {{ $superseded }}</strong>
            {{ else if .Params.author }}
              &nbsp;&nbsp;<strong>{{ partial "icon.html" (dict "ctx" $ "name" "at-sign") }} {{ .Params.author }}</strong>
            {{ end }}
            <br/>
            <span class="summary">{{ htmlUnescape .Summary }} ...</span>
          </span>
        {{ end }}

      {{ end }}
    </ul>
    {{ partial "pagination.html" $ }}
  </article>
{{ end }}
