{{ define "main" }}
{{ $paginator := .Paginate (where .Data.Pages "Type" "in" (slice "onetabs" "posts")).ByLastmod.Reverse }}

  <article>
    <h1>{{ .Title }}</h1>
    <ul class="posts-list">
      {{ range $index, $element := $paginator.Pages }}

        <li class="posts-list-item">
          {{ if eq .Type "onetabs" }}
            <a class="onetabs-list-item-title" href="{{ .Permalink }}">{{ printf "OneTab: %s" .Title }}</a>
          {{ else }}
            <a class="posts-list-item-title" href="{{ .Permalink }}">{{ .Title }}</a>
          {{ end }}
          <span class="posts-list-item-description">
            {{ $pub := .PublishDate.AddDate 0 0 1 }}
            {{ $mod := .Lastmod }}
            {{ partial "icon.html" (dict "ctx" $ "name" "clock") }} {{ .ReadingTime }} min read -
            {{ .PublishDate.Format "Jan 2, 2006" }}
            {{ if $mod.After $pub }}
              &nbsp;&nbsp;|&nbsp;&nbsp;Updated: {{ .Lastmod.Format "Jan 2, 2006 - 15:04" }}
            {{ end }}
            <br/>
            <span class="summary">{{ htmlUnescape .Summary }} ...</span>
          </span>
        </li>
      {{ end }}
    </ul>
    {{ partial "pagination.html" $ }}
  </article>
{{ end }}
