{{ define "main" }}
  <article class="post">
    <header class="post-header">
      <h1 class ="post-title">{{ .Title }}</h1>
      <div class="post-meta">

        {{ $pub := .PublishDate.AddDate 0 0 1 }}
        {{ partial "console-log" $pub }}

        {{ $mod := .Lastmod }}
        {{ partial "console-log" .Lastmod }}

        {{ if .Params.last_modified_at }}
          {{ $mod = time .Params.last_modified_at }}
          {{ partial "console-log" $mod }}
        {{ end }}  

        <div>
          {{ partial "icon.html" (dict "ctx" $ "name" "clock") }}
          {{ .ReadingTime }} min read
          &nbsp;&nbsp;&bullet;&nbsp;&nbsp;
          {{ partial "icon.html" (dict "ctx" $ "name" "calendar") }}
          {{ .PublishDate.Format "Jan 2, 2006" }}
          {{ if $mod.After $pub }}
            &nbsp;&nbsp;&bullet;&nbsp;&nbsp;Updated: {{ $mod.Format "Jan 2, 2006 15:04" }}
          {{ end }}  
          {{ if $.Param "author" }}
            &nbsp;&nbsp;&bullet;&nbsp;&nbsp;<strong>{{ partial "icon.html" (dict "ctx" $ "name" "at-sign") }} {{ $.Param "author" }}</strong>
          {{ end }}
          {{- with .Params.tags -}}
            <div>
              {{ partial "icon.html" (dict "ctx" $ "name" "tag") }}
              {{ range . -}}
                {{- with $.Site.GetPage (printf "/%s/%s" "tags" . ) -}}
                  <a class="tag" href="{{ .Permalink }}">{{ .Title }}</a>
                {{- end -}}
              {{- end -}}
            </div>
          {{- end -}}
      </div>

      {{ $superseded := .Params.superseded_by | urlize }}
      {{ if $superseded }}
        <div class="annotation">
          <p style="font-size:1.75em;">
            <strong>Attention</strong>: This post has been superseded by <strong><a href="/{{ $superseded }}/"> {{ $superseded }}</a></strong>.
          </p>
        </div>
      {{ end }}

      {{ $supersed := .Params.supersedes | urlize }}
      {{ if $supersed }}
        <div class="annotation">
          <p style="font-size:1.75em;">
            <strong>Attention</strong>: This post supersedes <strong><a href="/{{ $supersed }}/"> {{ $supersed }}</a></strong>.
          </p>
        </div>
      {{ end }}
    </header>
    <div class="post-content">
      {{ .Content }}
    </div>
    <div class="post-footer">
      {{ template "_internal/disqus.html" . }}
    </div>
  </article>
{{ end }}
